body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #F08080;
}

.set {
    position: relative;
    display: flex;
    flex-direction: column;
}

.key {
    background-color: #000000;
    height: 450px;
    width: 90px;
    padding: 0;
    margin: 0;
    border: 1px solid #ffffff;
}

.sharp {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 71px;
    height: 290px;
    top: 0;
    z-index: 1;
    width: 40px;
    border: 2px solid #F08080;
}

#keyboard {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.key-container {
    position: relative;
}

#octave-switch {
    height: 80px;
}